/*.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}*/

.margin {
  min-height: 100vh;
  background-color: white;
  margin: 10px;
}

.title {
  font-size: 3em;
    color:darkblue;
    text-align: center;
}

.titleBox {
  background-color: rgb(243, 221, 100);
  padding: 10px;
  text-align: center;
}

.message {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
}

.post {
  margin: 15px;
  line-height: 1.7;
}

@media (min-width: 700px) {
  .margin {
    margin: 0px;
    min-height: 100vh;
    background-color: rgb(228, 238, 238);
    display: flex;
  }
  
  .titleBox {
    padding: 10px 30px;
    text-align: right;
  }

  .message {
      font-size: 1.8em; 
    }

    .postarea {
      flex: 7;
      margin: 0 auto;
      padding: 10px;
      background-color: white;
      min-height: 100vh;
    } 

    .blank {
      flex: 1;
    }
    
    .latest {
      flex: 2;
      padding: 20px;
      list-style: none;
    }
    .latestarea {
      border: 5px solid #eeb565;
      border-radius: 10px;
      padding: 20px;
    }
    .postheader {
      font-size: 1.5em;
    }
    .postlink {
      color:blue;
      font-size: 1.3em;
      text-decoration: underline;
    }

    .postlink:hover {
      text-decoration: none;
    }

    .postmargin{
      margin-top: 1rem;
    }
}

@media (max-width: 700px) {
  .latest {
    display: none;
  }
}
.link {
  color:blue;
  font-size: 1.7em;
  text-align: center;
  text-decoration: underline;
}

.link:hover {
  text-decoration: none;
}

.formarea {
  margin: 0 15px;
}
.text {
  margin-top: 1rem;
  /* height: 25px; */
  font-size: 1.2rem;
}

.textarea {
  margin: 1rem 0;
  font-size: 1rem;
  vertical-align: middle;
  max-width: 100%;
}

/* ボタン */
/*.button {
}*/
.name {
  border-top: 1px solid #666;
}
.button {
  width: 50px;
  height: 30px;
}
.button:hover {
  color: red;
}
.postbutton{
  box-sizing: border-box;
  border: 1px solid #666;
  margin-bottom: 10px;
  width: 90px;
  height: 40px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #0A6EFF;
}
.postbutton:hover {
  background-color: #3258ff;
}
.postbutton:active {
  background-color: #1478FF;
}
.postbutton:focus {
  background-color: #3258ff;
}