/*.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}*/

.margin {
  min-height: 100vh;
  background-color: white;
  margin: 10px;
}

.title {
  font-size: 3em;
    color:darkblue;
    text-align: center;
}

.titleBox {
  background-color: rgb(243, 221, 100);
  padding: 10px;
  text-align: center;
}

.message {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
}

.post {
  margin: 15px;
  line-height: 1.7;
}

@media (min-width: 700px) {
  .margin {
    margin: 0px;
    min-height: 100vh;
    background-color: rgb(228, 238, 238);
    display: flex;
  }
  
  .titleBox {
    padding: 10px 30px;
    text-align: right;
  }

  .message {
      font-size: 1.8em; 
    }

    .postarea {
      flex: 7;
      margin: 0 auto;
      padding: 10px;
      background-color: white;
      min-height: 100vh;
    } 

    .blank {
      flex: 1;
    }
    
    .latest {
      flex: 2;
      padding: 20px;
      list-style: none;
    }
    
    .postheader {
      font-size: 1.5em;
    }
    .postlink {
      color:blue;
      font-size: 1.3em;
      text-decoration: underline;
    }

    .postlink:hover {
      text-decoration: none;
    }

    .postmargin{
      margin-top: 1rem;
    }
}

@media (max-width: 700px) {
  .latest {
    display: none;
  }
}
.link {
  color:blue;
  font-size: 1.7em;
  text-align: center;
  text-decoration: underline;
}

.link:hover {
  text-decoration: none;
}

.formarea {
  margin-left: 15px;
}
.text {
  margin-top: 1rem;
  
  font-size: 1rem;
}

.textarea {
  margin-top: 1rem;
  font-size: 1rem;
  vertical-align: middle;
}

/* ボタン */
/*.button {
}*/

.button:hover {
  color: red;
}